body {
  background: #333;
}

#move-list-wrapper {
  background: #ccc;
  width: 220px;
  height: 392px;
  overflow-y: scroll;
}

#move-list {
  display: grid;
  grid-template-columns: 100px 100px;
}

.selected-move {
  font-weight: bold;
}

button {
  width: 150px;
  height: 40px;
}


/* Modifications to chessboard css */
.board-b72b1 {
  border: 0 !important;
}
