#move-list-wrapper {
  background: #ccc;
  width: 200px;
  height: 400px;
}

#move-list {
  display: grid;
  grid-template-columns: 100px 100px;
}

.selected-move {
  font-weight: bold;
}

button#undo, button#redo {
  width: 150px;
  height: 40px;
}
